body {
  color: rgba(0, 35, 100, 0.7);
  background: image-url("brickwall.png");
  text-align: center;
  font-family: $base-font;
  font-size: $base-size;
  font-weight: 300;
  line-height: $base-height;
  letter-spacing: 0.1em;
}

g.icon {
  fill: red;
}

h1, h2, h3, ul, li, p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: $header-font;
  font-size: $header-size;
  letter-spacing: 0em;
  margin: 20px;
}

h2 {
  font-family: $base-font;
  font-size: $base-size;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 80px 0px 20px 0px;
}

h3 {
  font-family: $base-font;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 21px;
  margin-bottom: 84px;
}


.subtitle {
  font-size: 16px;
}

.social {
  letter-spacing: 0em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.heavy {
  font-weight: 400;
}

.super-heavy {
  font-weight: 600;
}

.small {
  font-size: 20px;
}

.large {
  font-size: 50px;
}


.section {
  margin: 0px auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 20%;
  padding-right: 20%;
  p {
    margin-bottom: 42px;
  }
}

.header, .footer {
  background: rgba(0, 35, 100, 0.5);
  color: white;
  padding: 100px 0px 100px 0px;
}

.seperator {
  margin-top: 41px;
}