---
title: Oh la labs! The Manifesto.
---

<div class="header section">
  <h1>Oh La Labs</h1>
  <p class="subtitle">(the manifesto)</p>
  <h2>A few words about success at work.</h2>
  <ul class="list-inline social">
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="Willooz">Tweet</a>
    </li>
    <li>
      <script type="IN/Share" data-url="ohlalabs.com" data-counter="right"></script>
    </li>
  </ul>
</div>

<div class="workforce section">
  <%= image_tag 'employee.svg', width: '50' %>
  <h3>Employees...</h3>
  <p>
    <span class="super-heavy">Be happy!</span> Happiness is a state of mind. It precedes any undertaking in life. <span class="heavy">Work doesn't make you happy or unhappy. </span><span class="super-heavy">You do!</span> So make professional decisions you're happy about <span class="super-heavy">now!</span> :)
  </p>
  <p>
    The Internet changes everything. Access information, build relationships and grow an audience of a scale that was never possible before. The network bypasses traditional power structures. Weave your own web of connections. Share. Contribute. Lead projects you are passionate about. Make your ideas shine and actions count!
  </p>
  <p>
    Don't be captive. Be independent. Acknowledge your unique strengths. Raise your self-esteem.<br>
    Don't be tamed. Take ownership. Work is an adult endeavor. You are no longer being taught, you are making a contribution. Become a pro. Earn respect and recognition. There's an entire world ready to witness. You should be happy!
  </p>
</div>
<div class="leaders section">
  <%= image_tag 'manager.svg', width: '50' %>
  <h3>Bosses...</h3>
  <p>
    Change the corporation! Address employee disengagement. Choose employee success! Build an organization as strong as the skills and networks of your people. Distinguish yourself from those who compete on cost. Innovate. Bet on human capital.
  </p>
  <p>
    Develop talent. Don't define every work task, show the way. Don't review every result, foster learning. Don't evaluate, coach. Don't control, empower!<br>
    Boost group chemistry! Provide breathing space. Open direct communication channels. Don't dictate rules, trust good judgement. Don't command and control, inspire and grow.
  </p>
  <p>
    The great news is we now have a network infrastructure that enables networked organisations! That thing called the Internet. Embrace technology to put employees in charge of their work, growth and success. Embrace technology to directly access aggregate information and manage collective phenomena. You will be rewarded twice by saving on the costs of a bureaucracy and by getting more from successful people!
  </p>
</div>
<div class="goal section">
  <%= image_tag 'goal.svg', width: '50' %>
  <h3>Our goal</h3>
  <p>
    We offer internet-baked organisation solutions to entreprises who want to innovate faster.
  </p>
  <p>
    Our solutions put employees in charge of their work, growth and success. They rely on the autonomous networks of talents who cooperate within or through your organization. Our solutions rid leaders of administrative management and help focus on developing talents and great work cultures.
  </p>
  <p>
    Our ingredients are simple principles: Power to the doer. Action speaks for itself. Go Go Go!
  </p>
</div>

<!-- <div class="section">
  <h2>Free Workforce</h2>
</div>

<div class="section">
  <h2>Pleasure Projects</h2>
</div>
 -->
<div class="newsletter section">
  <%= image_tag 'read.svg', width: '50' %>
  <h3>Embrace change! Get early news about our projects.</h3>
</div>

<div class="footer section">
  <ul class="list-inline">
    <li><i class="fa fa-linkedin-square"></i></li>
    <li><i class="fa fa-twitter-square"></i></li>
    <li><i class="fa fa-instagram"></i></li>
  </ul>
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
